@*
 * This template takes the results of all the reports and sends them
 * to ScalaJs to display.
 *@
@(projectList: List[String], warning:List[String],scapegoatResult:List[List[String]],scoverageResult:List[String],cpdResult:List[String],time:Int)
@import play.api.libs.json._


@*
 * Call the the `main` template with three arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page and third is an
 * `Int` with the duration to refresh page in seconds.
 *@

@content = {
<script>
   com.knoldus.DashboardClient().main()
</script>
}

@main("Knoldus Dashboard", content = content, time = time) {
<script>
 var projects = @Html(Json.toJson(projectList.map(a => a)).toString);
 var warn = @Html(Json.toJson(warning.map(a => a)).toString);
 var scapegoat = @Html(Json.toJson(scapegoatResult.map(a => a )).toString);
 var scoverage = @Html(Json.toJson(scoverageResult.map( a => a)).toString);
 var cpd =  @Html(Json.toJson(cpdResult.map( a => a)).toString);
 com.knoldus.DashboardClient().displayDashboardTable(projects,warn,scapegoat,scoverage,cpd)
</script>

}
